[Desktop Entry]
Name=JLMP
Comment=A library management and catalog software
Exec=/usr/bin/jlmp-frontend.py
Icon=jlmp
Terminal=false
Type=Application
Categories=Utility;